body {
    text-align: center;
    margin: 0 15% 0 15%;
}

li {
    list-style: none;
}

.label {
    margin: 1em;
}

.input { 
    margin: 1em;
}

.formrow {
    display: flex;
    margin: 1em;
}

.list {
    text-align: left;
}