body {
    text-align: left;
    margin: 0 15% 0 15%;
}

h1, h2, p {
    color: whitesmoke;
    margin:1em;
}

h1 {
    font-size: 2em;
    font-family: 'DM Serif Text', serif;
}

p {
    font-family: 'Literata', serif;
    margin: 1em;
}

.background {
    background-color:#d9d9d9;
}

.formcolumn {
    background-color: #666699;
    border: solid whitesmoke 1px;
}

p {
    margin: 1em;
}

label { 
    font-family: 'Literata', serif;
    color: whitesmoke;
    margin: 1em;
}

.input { 
    /* margin: 1em; */
}

.formrow {
    display: flex;
    margin: 1em;
    justify-content: space-around;
}

.list {
    text-align: left;
}

.center {
    justify-content: center;
}

#main-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#name, #email, #number {
    width: 200px;
}

#container {
    display: flex;
    justify-content: space-around;
}

#text-area {
    width: 500px;
}

#submit {
    width: 75px;
    height: auto;
    margin: 1em;
    margin-bottom: 3em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 50px;
    grid-gap: 1em;
    margin: 1em;
    justify-items: center;
}

.grid-item {
    grid-column: 2/4;
}